<!DOCTYPE html>
<html>
<head>
  <title><%= @title || title %></title>
  <meta name="turbolinks-cache-control" content="no-preview">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true if Rails.env.production? %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>

<body class="<%= body_class %>" data-view-name="<%= view_name %>">
  <%= render partial: "layouts/application/header" unless @hide_header %>
  <%= render partial: "layouts/shared/flash_messages" %>

  <main>
    <%= yield %>
  </main>

  <%= render partial: "layouts/application/footer" unless @hide_footer %>
  <%= yield :scripts %>
  <%= render partial: "layouts/shared/analytics" %>
</body>

</html>
