<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title || title %></title>

  <meta name="turbolinks-cache-control" content="no-preview">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%# Load CSS using JS and webpack's hot reload in development, otherwise use the %>
  <%# webpack ExtractTextPlugin to load the CSS from a compiled stylesheet file. %>
  <% unless Rails.env.development? %>
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true, media: "all" %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>

<body class="<%= body_class %>" data-view-name="<%= view_name %>">
  <%= render partial: "layouts/application/header" unless @hide_header %>
  <%= render partial: "layouts/shared/flash_messages" %>

  <main>
    <%= yield %>
  </main>

  <%= render partial: "layouts/application/footer" unless @hide_footer %>
  <%= render partial: "layouts/shared/analytics" %>
</body>

</html>
